$border:#cccccc;
$brderStule: 1px solid $border;
.searchBar{
    padding: 0px 10px;
    margin-bottom: 15px;

    input {
        width: 100%;
        padding: .75rem;
    }
}
.cardWrapper{
    margin: 10px;
    .cardTitle{ font-size: 2rem;}
    .dFlex{
        margin: 15px 0px;
        border-bottom: $brderStule;
        padding: 10px 0px;
        img{border: $brderStule}
        .itemName{
            font-weight: 600;
            size: 1.5rem;
        }
    }
}
