@import url('../../assets/scss/_variable.scss');
@import url('../../assets/scss/_main.scss');

$cordBgcolor: #1a1919;
$error: #cc0000;
$white: #fff;
$black: #0000;
$btnColor: #333;
$pagNavBtn: #efefef;
$pagOverBtn: #777676;

.error{color : $error}
.searchWrapper {
    padding: 10px 10px;
    margin-bottom: 15px;

    input {
        width: 100%;
        padding: .75rem;
    }
}

h4 {
    font-size: 1.5rem;
    text-align: center;
    padding: 25px 0px;
}
.btnPrimary{
    background-color: $btnColor;
    border: none;
    &:hover{
        background-color: $black;
    }
}

.userForm {
    .card{
        background-color: $cordBgcolor;
        .cardHeader {           
            color: $white;
            font-weight: 600;
            font-size: 1.5rem;
        }
    
        .cardBody {
            .errorForm{
                margin-bottom: 5px;
                display: block;}
            .formControl {
                margin-bottom: 10px;
            }
        }
    
        .cardFooter {
            text-align: right;
            padding: 15px;
        }
    }    
}

.table>:not(caption):last-child>*>* {border: 0rem;}

.table-striped {
    
    tbody {
        tr:nth-of-type(odd)>* {
            background-color: rgb(37, 37, 37) !important;
            color: #efefef;
        }

        .button {
            background-color: #000;
            color: #efefef;
        }
    }

    tfoot {
        tr {
            td {
                text-align: right;
                color: $white;
               
            }
        }

    }
}

ul.pagination{
    margin: 1rem 0rem !important;    
    li.pageItem{
        cursor: pointer;        
        span.pageLink{
            background-color: $cordBgcolor;
            color: $pagNavBtn;
            border: none;
            &:hover{
               color: $pagOverBtn;
            }
        }        
    }
    
    li.active, li.disabledClick{
        span{            
            color: $pagOverBtn !important;
            border: none;
            cursor: default;
        }           
    }
  
}



.listTable {
    color: #CCC;
    .sortData{
        cursor: pointer;
    }
    
}